.outer-title, .outer-content {
    text-align: center;
    /* background-color: #ff0000; */
    margin-left: 4rem;
    margin-right: 4rem;
}
.inner-title, .inner-content {
    font-family: "Inter", sans-serif;
    display: inline-block;
    text-align: left;
    font-size: 3rem;
    font-weight: 500;
    margin-left: 0;
    margin-right: 0;
    /* background-color: blue; */
    width: 60rem;
    max-width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .outer-title, .outer-content {
        margin-left: 2rem;
        margin-right: 2rem;
        /* background-color: pink; */
    }
}



.main-image {
    height: auto;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h2{
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

.language, .email {
    margin-left: 0;
    margin-right: 0;
    color: black;
    font-size: 1rem;
}

.join-link {
    padding-top: 0;
    font-size: 1rem;
    color: #C29618;
}

#profiles {
    height: auto;
    /* background-color: pink; */
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.profile {
    /* background-color: orange; */
    width: 20rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
}


.profile-pic {
    background-color: #D9D9D9;
    height: 20rem;
    width: 20rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
}

@media (max-width: 600px) {
    .profiles {
        height: 60rem;
    }
    .profile-pic {
        height: 15rem;
    }
    .inner-title{
        font-size: 1.4rem;
    }
    h2{
        font-size: 1.13rem;
    }
    .inner-content{
        font-size: 1rem;
    }
    h3 {
        font-size: 1.13rem;
    }
}

.logos {
    background-color: white;
    height:auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo {
    width: auto;
    height: 5rem;
}

@media (max-width: 600px) {
    .logo {
        width: auto;
        height: 2rem;
    }
    .profile {
        margin-bottom: 1rem;
        height: auto;
    }
}

nav{
    background-color: #E4B429;
    width: 100%;
    height: 4rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    margin: 0;
}

.main-menu {
    height: 4.22rem;
}

#left-nav, #right-nav {
    list-style-type: none; /* Remove default list styles */
    padding: 0;
  }


.nav-link{
    color: black;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.nav-link:hover{
    font-size: 18px;
}

.nav-link {
    transition: all 0.3s ease;
}

.toggle-menu {
    display: none; /* Hide the button by default */
  }

  @media screen and (max-width: 1000px) {
    #left-nav{
      display: none; /* Hide the links by default on smaller screens */
      flex-direction: column;
      background-color: #444; /* Background color for the dropdown menu */
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 10px;
    }
    #right-nav {
        display: none;
    }
    nav {
        justify-content:space-between;
    }
}
  
#left-nav li, #right-nav li {
      margin-right: 0;
      margin-bottom: 0;
    }

.dropbtn {
    background-color: #E4B429;
    border: none;
    margin: right 1rem;
    width: 4rem;
    height: 4rem;
    /* position: relative;
    right: 100px; */
}

.dropbtn:hover, .nav-link:hover{
    cursor: pointer;
}

.dropdown {
    display: none;

}

@media (max-width: 1000px) {
    .dropdown {
        display: block;
    }
}

/* @media (max-width: 1040px) {
    nav {
        justify-content: right;
    }
} */

#left-nav li, #right-nav li {
    display: inline-block; /* Display items horizontally */
    margin-right: 0.8rem; /* Add space between buttons */
  }

.dropdown-items, #dropdown {
    /* display: flex; */
    background-color: white;
    position: static;
    width: 100%;
    height: auto;
    top: 4rem;
    /* right: 0rem; */
    /* border: solid 1px; */
    text-align: left;
    font-family: "Inter", sans-serif;
    font-size: 0.8rem;
    /* margin-right: 1rem; */
    justify-content: space-around;
    margin-bottom: 1rem;
    display: none;
  }

.dropdown-link {
    color: black;
    text-decoration: none;
    text-align: left;
  }


.dropdown-link:hover {
    font-size: 18px;
    transition: all 0.3s ease;
  }

  .dropbtn:hover{
    font-size: 18px;
    transition: all 0.3s ease;
}


iframe {
    width: 100%;
    height: 50rem;
}

@media (max-width: 600px) {
    .profile-pic {
        height: 10rem;
        width: 10rem;
        margin-right: 0;
    }
    .dropdown {
        position: relative;
        right:0rem;
    }
} 

@media (max-width: 321px) {
    #right-nav li{
        margin: 0;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        font-size: 0.7rem;
    }
} 

li {
    font-size: 1rem;
    font-weight: 300;
}

ol {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.uwaggsLogo {
    position: absolute;
    height: 4rem;
}

.session {
    border-left: 3px solid #E4B429;
    padding-left: 1rem;
}

.section {
    margin-top: 2rem;
}

#about {
    margin-top: 1rem;
}

#drop {
    height: 4rem;
    width: 10.5rem;
    /* background-color: red; */
    position: absolute;
    top: 4rem;
    display: none;
    flex-direction: column;
    
}

.drop-btn {
    background-color: rgb(212, 209, 209);
    font-family: "Inter", sans-serif;
    text-decoration: none;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: black;
    text-align: center;
    border-bottom: 1px solid rgb(160, 154, 154);
}

.bold-hyperlink {
    color: black;
    font-weight: 600;
    text-decoration: none;
}
